h1, h2, h3, h4, h5, h6 {
  margin: 1rem 0px;
  color: $black;
}

body {display: flex;
  min-height: 100vh;
flex-direction: column}

.body-block {flex-grow: 1}

.white-background {
  background-color:white;
  padding: 1rem;
  border-radius: 1rem;
}

.gap1 {
  gap: 1rem
}
