.add-pages{
  background-color: gray;
  min-height: 83vh;
  height: 100%;
  max-height: 10vh;
  display: flex;
  align-items: center;
  border-radius: 15px;
  position: relative;

  .form{
    background-color: white;
    border-radius: 15px;
    text-align: center;
  }

  #cross_pages{
    position: absolute;
    top: 5%;
    right: 6%;
    color: $red;
  }
}

.container-detail {
  display: flex;
  overflow-x: auto;
}

.container-detail::-webkit-scrollbar {
  display: none;
}
