.book-reviews {
display: flex;
gap: 1rem;
}

.new-review {
  width: 100%;
  text-align: center
}

.book-review {
width:calc(50% - 1rem);
background-color: white;
padding: 0px 1rem;
border-radius: 10px;
margin-bottom: 1rem;

 h6 {margin: 0px}

 .h5 {display: flex;
  justify-content: space-between;}

  p {margin-bottom:1rem}
}
