.book-show {
  .h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h4 {
    margin: 0px;
    width: 30%;
    text-align: right;
  }

  img {
    width: 100%;
    border-radius: 1rem
  }

  li {
    list-style: none;
  }

  ul {
    margin:1rem 0px;
    padding: 0px
  }

  .fa-solid {
    padding: 1rem;
    color: $yellow
  }

  p {
    margin: 0px;
    text-align:justify;
  }

  .summary a {
    color: $green;
    font-style:italic;
  }

  .summary a:hover {
    opacity: 0.75
  }

  .reading-status {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
    margin-bottom: 1rem
  }

  .reading-status-bloc {
    width:60%;
    background-color:white;
    margin-top: 5px
  }

  .reading-status-bar {
    background-color: green;
    height: 5px;
  }

  .simple_form .div {
    margin: 0px !important
  }

  .reading-shared {
    margin-bottom: 1rem;
    text-align: center;
    font-family: "Playfair display";
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 1rem;
    background-color: #f1f0f0;
    border-radius: 1rem
  }

  .shared_link {
    margin-left: -0.5rem;
    position: absolute;
  }

  .shared_link i {
    margin-top: 0.5rem
  }

  .shared_link i:before {
    border-radius: 50%;
    background-color: #f1f0f0;
    padding: 1rem
  }

  .white-background {
    outline: 2.5px solid #8B2635;
  }
}
