.book-show {
  .h1 {
    display:flex;
    justify-content: space-between;
    align-items: center;
  }

  h4 {margin: 0px}

  img {
    width: 100%;
    border-radius: 10px
  }

  li {list-style:none;}

  ul {margin:1rem 0px;
  padding: 0px}

  .fa-solid {padding: 1rem;
  color: $yellow}

  p {margin: 0px;
    text-align:justify;}

  .summary a {color: $green;
  font-style:italic;}

  .summary a:hover {opacity: 0.75}

  .white-background{background-color:white;
    padding: 1rem;
    border-radius: 10px}
}
