<% readings.each do |reading| %>
  <%= link_to reading_path(reading), class: "book-card" do %>
      <div class="card-content">
      <%= image_tag reading.book.image_url, alt: reading.book.title, class: "card-image"%>
      <div>
          <h1><%= reading.book.title %></h1>
          <p><%= reading.book.author %></p>
        <div class="reading-status">
          <% if reading.reading_status == "unread" %>
            <div class="reading-status-bar" style="width:0%"></div>
          <% elsif reading.reading_status == "reading" %>
            <div class="reading-status-bar" style="width:50%"></div>
          <% elsif reading.reading_status == "read" %>
            <div class="reading-status-bar" style="width:100%"></div>
          <% end %>
        </div>
      <% if reading.shared_to.present? %>
            <i class="fa-solid fa-share"></i>
      <% end %>
      </div>
    </div>
  <% end %>
<% end %>
