<center><h1>Ma bibliothèque</h1></center>
<div class="flex-container">
<ul style="list-style-type:none;">
  <% @readings.each do |reading| %>
    <div class="flex-item">
      <li>
        <%= reading.book.title %>
        <%= reading.book.author %>
        <%= reading.reading_status %>
        <h3>Prêté à</h3><%= reading.shared_to %>
      </li>
    </div>
  <% end %>
</ul>
</div>
