<div data-controller="scanner">

<%= simple_form_for @reading do |f| %>
  <%= f.association :book, label: "Titre", input_html: {data: {controller: "tom-select"}, id: "select-beast", placeholder: "Select a person...", autocomplete: "off"} %>
  <%= f.input :EAN, input_html: { data: { scanner_target: "EAN" } } %>
  <%= f.button :submit, "Ajouter à ma bibliothèque" %>
<% end %>

<button class="btn btn-danger" data-action="click->scanner#scan">Scanner le livre</button>
<div id="interactive" class="viewport">
</div>
</div>
