<div class="bottom-navbar">
<div><%= link_to readings_path do %>
<i class="fa-solid fa-book-open"></i>
Bibliothèque
<% end %></div>
<div><%= link_to playlists_path do %>
<i class="fa-solid fa-heart"></i>
Favoris
<% end %></div>
<div><%= link_to discovers_path do %>
<i class="fa-solid fa-globe"></i>
Découvrir
<% end %></div>
</div>
