<div class="bottom-navbar">
<div><i class="fa-solid fa-book-open"></i><%= link_to "Bibliothèque", readings_path %></div>
<div><i class="fa-solid fa-heart"></i><%= link_to "Favoris", playlists_path %></div>
<div><i class="fa-solid fa-globe"></i><%= link_to "Découvrir", readings_path %></div>
</div>
