.navbar-lewagon {
  justify-content: flex-end;
  background: $yellow;
  position:sticky;
  top: 0;
  z-index: 99999;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .avatar img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid white;
  padding: 5px
}

.navbar-lewagon h1 {
  width: 300px;
  text-shadow: 1px 1px white;
  text-align: right
}

.collapse:not(.show) {
  display: block
}

.navbar-collapse {
  flex-basis: 0%
}

.navbar-nav .dropdown-menu {
  position: absolute
}

.dropdown-menu-end[data-bs-popper] {
  right: auto;
  border-radius: 1rem
}

.bottom-navbar {
  background-color: $yellow;
  padding: 1rem;
  display: flex;
  position: sticky;
  width: 100%;
  z-index: 99999;
  justify-content: space-between;
  bottom: 0;
  font-size: 1.3rem;

  div {
    text-align:center;
    width: 33%
  }

  a {display:block;
  text-decoration: none;
  color: black;
  font-weight: 600;
  text-shadow: 1px 1px white;
  text-transform: lowercase;}

  .fa-solid {
    color: white;
    display:block;
    text-shadow: none !important;
  }
}
