.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.bottom-navbar{
  position: fixed;
  bottom: 5px;
}

.bottom-navbar {
  background-color: white;
  padding: 1rem;
  display: flex;
  position: sticky;
  width: 100%;
  z-index: 99999;
  justify-content: space-between;
  bottom: 0;
  font-size: 1.3rem;

  div {
    text-align:center;
    width: 33%
  }

  a {display:block;
  text-decoration: none;
  color: $green;
  text-transform: lowercase;}

  .fa-solid {
    color: $light-grey;
    display:block
  }
}
