<div class="text-center">
  <h1>Mes Favoris</h1>
</div>

<div class="container container-playlist" data-controller='add-playlist'>
  <div class="button-add btn btn-danger" data-action="click->add-playlist#open_page">Ajouter une playlist</div>
    <div class=" add-pages container d-none" data-add-playlist-target="page" >
      <i id="cross_pages"class="fa-solid fa-xmark fa-2xl" data-action="click->add-playlist#close_page"></i>
    <div class="row justify-content-center">
      <div class="form col-6 p-2">
        <h2>Donnez un nom à votre liste de favoris</h2>
        <%= simple_form_for @playlist_new do |f| %>
          <%= f.input :title %>
          <%= f.button :submit , class: "btn btn-danger" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <% @playlists.each do |playlist| %>
    <div>
      <h3><%= link_to playlist.title, playlist_path(playlist), class: "text-decoration-none" %></h3>
    </div>
  <% end %>
</div>
