<h1><%= @playlist.title %></h1>

<div class="container">
   <div class="d-flex flex-wrap">
      <% @readings.each do |reading| %>
        <div class="cards-playlist">
            <%= image_tag(reading.book.image_url, class:"img-thumbnail") %>
          <div class=" d-flex text-center ">
            <p><%= reading.book.author %> - <%= reading.book.title %></p>
          </div>
         </div>
      <% end  %>
  </div>
</div>
