<h1><%= @playlist.title %></h1>

<div class="contain">
   <div class="d-flex flex-wrap">
      <% @readings.each do |reading| %>
        <div class="cards object-fit-fill" style="background: url(<%= reading.book.image_url %>)">
          <p><%= reading.book.title %></p>
          <p><%= reading.book.author %></p>
         </div>
      <% end  %>
  </div>
</div>
